---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout />
<img
  src="/img/404pic.jpg"
  width="60%"
  class="mx-auto text-center"
  alt="Bei der Arbeit"
/>

<div class="text-2xl text-center w-2/3 h-screen mx-auto">
  Diese Seite wird noch gebaut. Bitte haben Sie etwas Geduld.
</div>

<!-- <style>
  * {
    background-color: #a6c6a6;
  }
</style> -->
